h1 {
    text-align: left;
}
h2 {
    text-align: center;
}


body {
    background-color: white;
    width: 95%;
    margin: 0 auto;
    z-index: 10;
}
.div{
    overflow: hidden;
    height: 618px;
}
.part2 {
    width: 100%;
    margin:0 auto;
    overflow:hidden;
}
.news {
    width: 80%;
    /*height:430px;*/
    background-color:white;
    float:left;
    padding: 20px;
}
.profil {
    width: 20%;
    height: auto;
    float:right;
    text-align: center;
    padding: 80px 20px 0px 0px;
}
.aboutMe {
    display: block;
    width: 100%;
}
.mePhoto{
    display: block;
    width: 12%;
    margin-left: auto;
    margin-right: auto;
}
.box{
    background: white;
    padding: 10px 0;
    white-space: nowrap;/*文本不会换行，文本会在在同一行上继续*/
    overflow-y:auto;/*可滑动*/
}
/*自定义滚动条的伪对象选择器, CSS 可以隐藏滚动条*/
/*.box::-webkit-scrollbar{
    display: none;
}*/
.box1{
    width: 30%;
    margin-left: 3%;
    height: auto;
    background: #eff7fa;
    display: inline-block;/*行内块元素*/
}
.boxImg{
    max-width: 100%;
}