@font-face {
    font-family: ZCOOLKuaiLe;
    src: url(./ZCOOLKuaiLe.ttf);
}
/*logo*/
.part1 {
    background-color: white;
    width: 88%;
    height: 10px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: ZCOOLKuaiLe;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 48px;
    /*width: 25%;*/
}

/*police*/
h1 {
    font-size: 48px;
    font-family: ZCOOLKuaiLe;
    color: black;
}
h2 {
    font-size: 40px;
    font-family: ZCOOLKuaiLe;
    color: black;
}
p {
    text-align: left;
    font-family: ZCOOLKuaiLe;
    color: black;
}

/*menu*/
.menu {
    display: flex;
    padding: 0;
    list-style-type: none;
    justify-content: right;
}
.menu .bouton{
    font-size: 22px;
    text-align: center;
    font-family: ZCOOLKuaiLe;
    text-align: center;
}
.menu a {
    display: block;
    min-width: 120px;
    max-height: 40px;
    margin: 0.5rem;
    padding: 5px 10px;
    text-align: center;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 4px;
    transition: all 1s;
}

.menu a:hover {
    background-color: black;
    color: #B9BFBF;
    border-color: black;
}
.wrapper {
    position: relative;
    display: inline-block;
}
.wrapper:hover ul {
    display: block;
  }
.menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: none;
    position: relative;
    z-index: 100;
}
.menu li:hover ul {
    display: block;
    position: relative;
    top: 2px;
    z-index: 100;
}
.menu ul a {
    display: block;
}
.menu ul li:hover a {
    background-color: black;
    color: #B9BFBF;
}

/*footer*/
footer {
    width: 95%;
    margin: 0 auto;
    height: 22px;
    text-align: right;
}
h4 {
    font-family: ZCOOLKuaiLe;
    font-size: 16px;
    color: black;
}