/*logo*/
header {
    background-color: black;
    width: 95%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 48px;
    /*width: 25%;*/
}

/*police*/
h1 {
    font-size: 32px;
    text-align: center;
    font-family: Ubuntu;
    color: white;
}
h2 {
    font-size: 22px;
    text-align: left;
    font-family: Ubuntu;
    color: white;
}
p {
    font-size: 16px;
    text-align: left;
    font-family: Ubuntu;
    color: white;
}

/*menu*/
.menu {
    display: flex;
    padding: 0;
    list-style-type: none;
    justify-content: right;
}
.menu a {
    display: block;
    min-width: 120px;
    margin: 0.5rem;
    padding: 0.4rem 0;
    font-family: Helvetica, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 4px;
    transition: all 1s;
}

.menu a:hover {
    background-color: white;
    color: black;
    border-color: white;
}
.wrapper {
    position: relative;
    display: inline-block;
}
.wrapper:hover ul {
    display: block;
  }
.menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: none;
    position: relative;
    z-index: 100;
}
.menu li:hover ul {
    display: block;
    position: relative;
    top: 2px;
    z-index: 100;
}
.menu ul a {
    display: block;
}
.menu ul li:hover a {
    background-color: white;
    color: black;
}

/*footer*/
footer {
    background-color: black;
    width: 95%;
    margin: 0 auto;
    height: 22px;
    text-align: right;
}
h4 {
    font-family: Ubuntu;
    font-size: 16px;
    color: white;
}