body {
    background-color: black;
    width: 95%;
    margin: 0 auto;
    z-index: 10;
}
.box {
    width:100%;
    margin:0 auto;
    padding: 5%;
    overflow:hidden;
    height: auto;
}
.box .left {
    width:30%;
    height:430px;
    background-color:black;
    float:left;
}
.box .right {
    width:60%;
    height:430px;
    background-color:black;
    float:right;
}